#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  display:none;
}

#photocopy {
  position: absolute;
}

#photo {
  display:none;
}

#canvas {
  display:none;
}

.camera {
  display:inline-block;
  display: none;
}

.output {
  display:inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.blurred{
    position: absolute;
    border-radius: 50%;
}

.blurrednocircle{
    position: absolute;
}

.contentarea {
  top:0;
  left:0;
}
